/**
 * @name VenomBreathing
 * @author DiowSpirow#0770
 * @version 5.0.0
 * @description Persimmon is a beautiful fruit 
*/
@import url("https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/base.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");
:root {
  --BG-image: url("https://i.imgur.com/rh8YXG4.jpg");  
  --BG-image-blur: 0.2px;  
  --BG-serverlist-brightness: 0.8; 
  --BG-left-brightness: 0.8;  
  --BG-right-brightness: 0.6;  
  --BG-popout-brightness: 0.7;  
  --BG-tint-colour: 255, 51, 159; 
  --BG-tint-brightness: 0;   
  --BG-gradient-one: 151,252,253   ;  
  --BG-gradient-two: 19,91,119  ;  
  --BG-gradient-direction: 200deg;  
  --BG-window-padding: 20px;  
  --BG-window-roundness: 10px;  
  --BG-left-right-split: 0;  
  
  --BG-font: "Righteous";
}
